@model IEnumerable<WebApp.Models.Series>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/BookFlipCards.css" />

<h1>Series </h1>
<p>
    <a asp-action="Create" class="btn btn-warning ">Create New</a>
</p>


<style>
    .mini-btn{
        font-size: 20px;
        margin: -30px 0px 0px 0px;
        padding: 0px 10px 0px 10px;
    }
</style>

<div class="row mb-4 wow fadeIn justify-content-center">
    @foreach (var item in Model)
    {
        <div class="card" style="margin-left:30px">
            <div class="img-container">
                <img src="@item.Poster" alt="" />
            </div>
            <div class="card-details">
                <div style="text-align:end">
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-secondary mini-btn">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger mini-btn" style="margin-right:-15px">Delete</a>
                </div>
                
                <h2 style="margin-top:-30px">@item.Name (@item.Premiere)</h2>
                @if (item.IsEnded)
                {
            <h5>Status: Ended</h5> }
        else
        {
            <h5>Status: In progress</h5>}
                <p>@item.Info</p>
                <br />
                <div style="text-align: center; position:fixed; bottom:10px;">
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info" style="width:105px">Cast</a>
                    <a asp-action="Characters" asp-route-id="@item.ID" class="btn btn-info" style="width:145px">Characters</a>
                </div>
            </div>
        </div>
    }
</div>