@model IEnumerable<WebApp.Models.Actors>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/flipCard.css" />
<h1>Actors</h1>

<p>
    <a asp-action="Create" class="btn btn-warning ">Create New</a>
</p>

<div class="row mb-4 wow fadeIn justify-content-center">
    @foreach (var item in Model)
    {
    <div class="flip-card card mb-3" style="display: inline-block; margin:10px">
        <img class="card-img-top flip-img" width="2" src="@item.Photo" alt="Card image cap">
        <div class="card-body" style="text-align:center; padding-top:15px">
            <h5 class="card-title" style="margin-bottom:0px; padding-bottom: 5px">@item.Name</h5>
            <p style="position:absolute; bottom:0px">
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Info</a>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-secondary">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
            </p>
        </div>
    </div>
    }

</div>

@* @model IEnumerable<web_lab1_fandom.Models.Actors>
@{
    ViewData["Title"] = "Index";
}

<div class="ui-widget">
    <label for="tags">Tags: </label>
    <input type="text" ID="txtLanguages" />
</div>

<script>
    $(document).ready(function () {
        $("#txtLanguages").autocomplete({
            source: function (request, response) {
                   $.ajax({
                       url: '/Actors/Languages',
                        type: 'GET',
                        cache: false,
                        data: request,
                        dataType: 'json',
                    success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item,
                            value: item + ""
                        }
                    }))
                   }
               });
           },
           minLength: 2,
           select: function (event, ui) {
               alert('you have selected ' + ui.item.label + ' ID: ' + ui.item.value);
               $('#txtSearch').val(ui.item.label);
               return false;
           }
        });
    });
</script> *@