@model WebApp.Models.Characters

@{ ViewData["Title"] = "Details"; }

<style media="screen">
    body {
        background-image: url( @ViewBag.backImg );
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bg-dark{
        background-color: @ViewBag.MainColor!important
    }
    .card-color{
        background-color: @(ViewBag.SecondColor)!important;
    }
</style>

<div style="padding:10px; padding-left:0px">
    <a asp-action="Index" asp-route-seriesID="@Model.SeriesID" class="btn btn-warning">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model.ID"  class="btn btn-primary">Edit</a>
</div>

<div style="float:left; width:300px; background-color: #AAA; margin-right:20px" class="card-color">
    <h4 style="text-align:center">@Html.DisplayFor(model => model.Name)</h4>
    <img src="@Model.Photo" width="300" height="400" style="object-fit: contain" />
    <h5 style="text-align:center">Gender: @Model.Gender</h5>
    <h5 style="text-align:center">Birthyear: @Model.Birthyear</h5>
    <h5 style="text-align:center">Status: @Model.Status</h5>
</div>

<div style="min-height:600px; font-size:24px; white-space: pre-line">
    @Model.Info
</div>
