@model IEnumerable<WebApp.Models.Characters>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/flipCard.css" />

<style media="screen">
    body {
        background-image: url( @ViewBag.backImg );
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bg-dark{
        background-color: @ViewBag.MainColor!important
    }
    .flip-card-color{
        background-color: @(ViewBag.SecondColor);
    }
</style>

<h1>Characters of "@ViewBag.SeriesName"</h1>

<p>
    <a asp-action="Create" class="btn btn-warning" asp-route-seriesID="@ViewBag.SeriesID">Create New</a>
    <a asp-action="Index" asp-controller="Casts" asp-route-seriesID="@ViewBag.SeriesID" class="btn btn-primary ">To Cast</a>
</p>

<div class="row mb-4 wow fadeIn justify-content-center">
    @foreach (var item in Model)
    {
        <div class="flip-card card mb-3 flip-card-color" style="display: inline-block; margin:10px">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img class="flip-img" src="@item.Photo" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                    </div>
                </div>
                <div class="flip-card-back">
                    <div class="card-body" style="padding-top:0px">
                        <h4 class="card-title" style="margin-bottom:0px"> @item.Name</h4>
                        <h5>Gender: @item.Gender</h5>
                        <h5>Birthyear: @item.Birthyear</h5>
                        <h5>Status: @item.Status</h5>
                        <p style="position:absolute; bottom:0px">
                            <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Info</a>
                            <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-secondary">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.ID" title="Delete" data-toggle="tooltip" class="btn btn-danger">Delete</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
